<!DOCTYPE html>

<head>
	<title>{{ _print(title) }}</title>
</head>

<body>
	<h1>{{ _print(body) }}</h1>
	{{
		for i = 10, 1, -1 do
			_print('\n\t\t<p>Number ' .. i .. '</p>\n')
		end
	}}
</body>
</html>
