<!DOCTYPE html>

<head>
	<title>{{ return title }}</title>
</head>

<body>
	<h1>{{ return body }}</h1>
	{{
		result = ''
		for i = 10, 1, -1 do
			result = result .. '\n\t\t<p>Number ' .. i .. '</p>\n'
		end
		return result
	}}
</body>
</html>
